* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

/*FOR BOTH NAVS (DESKTOP AND DEVICE)-------------------------------*/

nav {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #000;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }

/*DEVICE NAV --------------------------------------------------*/

.nav__device-container {
  width: 100%;
}

.nav__device-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  font-size: 3rem;
}

.nav__device-container ul li a {
  font-size: 3rem;
  color: #f9f9f9;
}

/*DESKTOP NAV -------------------------------------------------*/

.nav__desktop-container {
  display: none;
}

.nav__desktop-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  font-size: 1.2rem;
}

.nav__desktop-container ul li {
  margin: 0 1% 0 0;
}

.nav__desktop-container ul li:last-child {
  margin: 0 0 0 0;
}

.nav__desktop-container ul li a {
  color: #f9f9f9;
  text-decoration: none;
}

/*MEDIA QUERY -----------------------------------------------------*/

@media only screen and (min-width: 768px) {
  .nav__desktop-container {
    display: block;
    padding: 2px 0 0 0;
    width: 100%;
  }

  .nav__desktop-container a {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .nav__desktop-container i {
    margin: 0 10px 0 0;
  }

  /*HOVER EFFECTS---------------------------------------------------*/

  .nav__desktop-container a:hover {
    color: #b8b8b8;
  }

  .nav__desktop-container a::after {
    content: "";
    display: flex;
    justify-content: center;
    height: 2px;
    background-color: #1b8aca;
    width: 0%;
    transition: all ease-in-out 180ms;
  }

  .nav__desktop-container a:hover::after {
    width: 100%;
  }

  /*--------------------------------------------------------------*/

  .nav__device-container {
    display: none;
  }
  
  nav {
    height: 50px;
  }
}