* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  height: auto;
}

/* HEADER ---------------------------------------------------------*/

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

header {
  background: #212324;
}

#date-desktop {
  display: none;
}

#date-device {
  display: flex;
  align-items: baseline;
  margin: 0 10px 0 5%;
  color: #fff;
}

#logo-desktop {
  display: none;
}

#logo-device h1 {
  font-size: 3rem;
  color: #fff;
}

#logo-device a {
  text-decoration: none;
}

#logo-device h1::first-letter {
  color: #1b8aca;
  font-size: 2.95rem;
}

#networks {
  display: flex;
  margin: 0 5% 0 0;
}

#networks ul {
  display: flex;
}

#networks ul li {
  list-style: none;
}

#networks i {
  font-size: 2rem;
  margin: 0 0 0 10px;
  color: #fff;
  text-decoration: none;
}

/* SECTION --------------------------------------------------------*/

section {
  margin: 20px 10px 10px 10px;
  min-height: calc(100% - 302px);
}

section a {
  justify-content: space-around;
  text-decoration: none;
}

section h2 {
  margin: 15px 0 15px 0;
  font-size: 1.5rem;
  color: #212324;
}

section p {
  display: none;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* WRAPPER 1 ------------------------------------------------------*/

.wrapper-1 {
  display: flex;
  flex-flow: row wrap;
}

.wrapper-1__cont-1 {
  display: flex;
  flex-direction: column;
  flex: 2 1 600px;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  max-height: max-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* SUPRA CONTAINER:-----*/

.wrapper-1__supra-cont-1 {
  display: flex;
  flex: 1 2 300px;
  flex-flow: row wrap;
  max-height: max-content;
}

.wrapper-1__cont-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: max-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.wrapper-1__cont-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: max-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/*----------------------*/

.wrapper-1__cont-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: max-content;
  flex: 1 2 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* WRAPPER 2 ------------------------------------------------------*/

.wrapper-2 {
  display: flex;
  flex-flow: row-reverse wrap;
}

.wrapper-2__cont-1 {
  display: flex;
  flex-direction: column;
  flex: 2 1 600px;
  justify-content: space-between;
  max-height: max-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* SUPRA CONTAINER 2: --*/

.wrapper-2__supra-cont-1 {
  display: flex;
  max-height: min-content;
  flex: 1 2 300px;
  flex-flow: row wrap;
}

.wrapper-2__cont-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: max-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.wrapper-2__cont-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: max-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/*----------------------*/

.wrapper-2__cont-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: max-content;
  flex: 1 2 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* FOOTER ---------------------------------------------------------*/

footer {
  background-color: #000;
  width: auto;
  height: 137px;
}

.footer__supra-container {
  width: 100%;
}

.footer__first-container p {
  display: none;
}

.footer__first-container ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 25px 5% 25px 5%;
  margin: 20px 0 0 0;
  font-size: 1.3rem;
  background-color: #000;
  list-style: none;
}

.footer__first-container a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: #fff;
}

.footer__second-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 5% 25px 5%;
  border-top: solid 1px #212324;
  font-size: 0.8rem;
  color: #fff;
  background-color: #000;
}

.footer__second-container p a {
  text-decoration: none;
  color: #fff;
}

/*HOVER EFFECTS ---------------------------------------------------*/

section a:hover h2{
  color: #1b8aca;
  text-decoration: underline;
}

section a:hover p{
  color: #1b8aca;
}

#networks i:hover {
  color: #1b8aca;
}

.footer__first-container a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__second-container p a:hover {
  text-decoration: underline;
  color: #fff;
}

/* MEDIA QUERY ----------------------------------------------------*/
/* Mobile first, then mobile or other devices with +480px, then
tablets and desktop (+768px works good with both)------------------*/


@media only screen and (min-width: 480px) {
  section p {
    display: flex;
    text-align: justify;
    color: #222324;
  }

  .footer__first-container ul li{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  #date-device {
    display: none;
  }
  
  #date-desktop {
    display: flex;
    align-items: baseline;
    margin: 0 10px 0 5%;
    color: #fff;
  }

  #date-desktop i {
    margin: 0 10px 0 0;
    font-size: 3rem;
  }
  
  #logo-device {
    display: none;
  }
  
  #logo-desktop {
    display: flex;
  }

  #logo-desktop h1 {
    font-size: 4rem;
    color: #fff;
  }

  #logo-desktop a {
    text-decoration: none;
  }
  
  #logo-desktop h1::first-letter {
    color: #1b8aca;
    font-size: 3.95rem;
  }
  
  section p {
    display: flex;
    text-align: justify;
    font-size: 1.3rem;
    color: #222324;
  }

  .wrapper-1__cont-1 h2 {
    font-size: 3rem;
  }

  .wrapper-1__cont-4 h2 {
    font-size: 2.5rem;
  }

  .wrapper-2__cont-1 h2 {
    font-size: 3rem;
  }

  .wrapper-2__cont-4 h2 {
    font-size: 2.5rem;
  }

  #networks i {
    font-size: 3rem;
    margin: 0 0 0 10px;
    color: #fff;
    text-decoration: none;
  }

  .footer__first-container i {
    font-size: 1rem;
  }

  .footer__first-container p{
    display: flex;
    padding: 0 0 0 20px;
    font-size: 1.3rem;
  }

  .footer__second-container {
    font-size: 1rem;
  }
}