* {
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

body {
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

header {
  background: chartreuse;
}

#logo h1 {
  font-size: 2.5rem;
}

#logo {
  display: flex;
  margin: 0 0 0 5%;
}

#logo h1::first-letter {
  color: blueviolet;
}

#networks {
  display: flex;
  margin: 0 5% 0 0;
}

#networks ul {
  display: flex;
}

#networks ul li {
  list-style: none;
}

#networks i {
  font-size: 3rem;
  margin: 0 0 0 10px;
}