* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

/* TITLE -------------------------------------------------- */
section h2,h3,h4 {
  margin: 0 0 15px 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

/* FORM --------------------------------------------------- */

label {
  display: block;
  margin: 10px 0px 6px 0px;
}

input {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.form-col__1 {
  margin: 0 10px 0 10px;
  width: 250px;
}

.form-col__2 {
  margin: 0 10px 0 10px;
  width: 250px;
}

.errorMessage {
  display: block;
  font-size: .7rem;
  width: 192px;
  color: red;
}

/* HIDE BROWSER DEFAULT STYLES ------------------------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
